<div class="polaroid">
  <div class="photo">
    <div class="sun"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="mountains">
      <div class="mountain1"></div>
      <div class="mountain2"></div>
    </div>
    <div class="trees">
      <div class="tree"></div>
      <div class="tree"></div>
      <div class="tree"></div>
      <div class="tree"></div>
      <div class="tree"></div>
    </div>
    <div class="lake">
      <div class="water-surface"></div>
      <div class="water-ripples"></div>
      <div class="water-sparkles"></div>
    </div>
    <div class="dust"></div>
    <div class="scratches"></div>
  </div>
  <div class="caption">Lake View '89</div>
</div>
